$color-text: #d4d4d4;
$color-bg-body: #1b1b1b;
$color-bg-list: #1f1f1f;
$color-border: #ffffff17;
$color-bg-track: #292929;
$color-hover-text: #7ca3f7;
$color-hover-bg: #2e2e2e;
$color-active-bg: #7ca3f727;
$color-btn-text: #d4d4d456;
$color-artist-text: #d4d4d45b;
