@use "reset";
@use "vars" as *;
@use "mixins" as *;

* {
  color: #d4d4d4;
}

body {
  display: grid;
  grid-template-columns: 30vw auto;
  background-color: #1b1b1b;
  height: 100dvh;
  width: 100vw;
  user-select: none;
}

#musicList {
  padding: 8px;
  background-color: #1f1f1f;
  border-right: 1px solid #ffffff17;
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-direction: column;
  > .nothing-track-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    > :last-child {
      margin-top: 10px;
    }
  }
  > .track {
    cursor: pointer;
    padding: 4px 0 4px 12px;
    background-color: #292929;
    border-radius: 3px;
    font-weight: 600;
    &:hover {
      color: #7ca3f7;
      background-color: #2e2e2e;
    }
    &:active {
      background-color: #7ca3f727;
    }
    &-btn {
      display: flex;
      justify-content: center;
      font-weight: 600;
      color: #d4d4d456;
      background-color: transparent;
      &:hover {
        color: #7ca3f7;
        background-color: transparent;
      }
    }
  }
}

.track-artist {
  color: #d4d4d45b;
  font-weight: normal;
}
