@use "reset";
@use "vars" as *;
@use "mixins" as *;

body {
  display: grid;
  grid-template-columns: 30vw auto;
  background-color: #1b1b1b;
  height: 100dvh;
  width: 100vw;
}

#musicList {
  background-color: #1f1f1f;
  border-right: 1px solid #ffffff17;
  display: flex;
  justify-content: center;
  flex-direction: column;
  > .nothing-track-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d4d4d4;
    > :last-child {
      margin-top: 10px;
    }
  }
}
