@use "reset";
@use "vars" as *;

* {
  color: $color-text;
}

body {
  display: grid;
  grid-template-columns: 30vw auto;
  background-color: $color-bg-body;
  height: 100dvh;
  width: 100vw;
  user-select: none;
  background-repeat: no-repeat;
  background-size: cover;
}

#musicPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(60px);
  background-color: #000000b9;
  > img {
    width: 270px;
    height: 270px;
    border-radius: 6px;
    border: 1px solid $color-border;
  }
}

#musicList {
  padding: 8px;
  background-color: $color-bg-list;
  border-right: 1px solid $color-border;
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-direction: column;
  > .nothing-track-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    > :last-child {
      margin-top: 10px;
    }
  }
  > .track {
    cursor: pointer;
    padding: 4px 0 4px 12px;
    background-color: $color-bg-track;
    border-radius: 3px;
    font-weight: 600;
    &:hover {
      color: $color-hover-text;
      background-color: $color-hover-bg;
    }
    &:active {
      background-color: $color-active-bg;
    }
    &-btn {
      display: flex;
      justify-content: center;
      font-weight: 600;
      color: $color-btn-text;
      background-color: transparent;
      padding: 0;
      padding-top: 8px;
      &:hover {
        color: $color-hover-text;
        background-color: transparent;
      }
    }
  }
}

.track-artist {
  color: $color-artist-text;
  font-weight: normal;
}
