@use "reset";
@use "vars" as *;

* {
  color: $color-text;
}

body {
  display: grid;
  grid-template-columns: 30vw auto;
  background-color: $color-bg-body;
  height: 100dvh;
  width: 100vw;
  user-select: none;
  background-repeat: no-repeat;
  background-size: cover;
}

#repeat-btn {
  background-image: url(/public/repeatOff.svg);
  width: 29px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  &.active {
    background-image: url(/public/repeatOn.svg);
  }
}

#volume-btn {
  background-image: url(/public/volumeButton.svg);
  width: 28px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
}

#backward-btn {
  background-image: url(/public/switchLeft.svg);
  width: 25px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
}

#forward-btn {
  background-image: url(/public/switchRight.svg);
  width: 25px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
}

#play-pause-btn {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}

.time-display {
  display: flex;
  justify-content: space-between;
}

.waveform-container {
  width: 500px !important;
  > #waveform {
    width: 500px !important;
  }
}

#musicPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(40px);
  background-color: #0c0c0cbd;
  > img {
    width: 270px;
    height: 270px;
    border-radius: 6px;
    border: 1px solid $color-border;
    transition: transform 0.2s ease-out !important;
    transform-origin: center !important;
  }
  > .track-info {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    > .title {
      font-weight: 600;
      font-size: 20px;
    }
    > .artist {
      color: #ffffff63;
    }
  }
}

#musicList::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#musicList::-webkit-scrollbar-thumb {
  background-color: #88888849; /* цвет */
  border-radius: 4px; /* скругление */
}

#musicList {
  overflow-y: auto;
  padding: 8px;
  background-color: #181818da;
  backdrop-filter: blur(40px);
  border-right: 1px solid $color-border;
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-direction: column !important;
  > .nothing-track-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    > :last-child {
      margin-top: 10px;
    }
  }
  > .track {
    cursor: pointer;
    padding: 4px 0 4px 12px;
    background-color: #2929293d;
    border-radius: 6px;
    border: 1px solid #ffffff07;
    font-weight: 600;
    &:hover {
      color: $color-hover-text;
      background-color: #272e3b79;
    }
    &:active {
      background-color: $color-active-bg;
    }
    &-btn {
      display: flex;
      justify-content: center;
      font-weight: 600;
      color: $color-btn-text;
      background-color: transparent;
      padding: 0;
      padding-top: 8px;
      border: none;
      &:hover {
        color: #dbdadab9;
        background-color: transparent;
      }
    }
  }
}

.track-artist {
  color: $color-artist-text;
  font-weight: normal;
}

.player-controls {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
}

.volume-container {
  position: relative;
  display: flex;
  align-items: center;
}

.volume-slider-wrapper {
  display: none;
  position: absolute;
  top: -2px;
  left: 120px;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.582);
  padding: 10px 15px;
  border-radius: 5px;
  z-index: 10;
}

.volume-slider-wrapper.visible {
  display: flex;
}

#volume-slider {
  width: 120px;
  height: 5px;
  background: #555555;
  border-radius: 5px;
  outline: none;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #cccccc;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #cccccc;
    cursor: pointer;
    border: none;
  }
}
